.top-menu
	display: flex
	justify-content: space-between
	margin: 0 -30px
	padding: 0 30px
	background: $pickled-bluewood
	color: $white
	+r(991)
		margin: 0
		padding: 0
		flex-direction: column
		align-items: center
	position: relative
	&::before, &::after
		content: ''
		position: absolute
	&::before
		left: -40px
		border: 20px solid transparent
		border-top: 20px solid $pickled-bluewood
		border-right: 20px solid $pickled-bluewood
	&::after
		right: -40px
		border: 20px solid transparent
		border-left: 20px solid $pickled-bluewood
		border-top: 20px solid $pickled-bluewood
	&__wrapper
		background: $pickled-bluewood-op-60per
		position: relative
		+r(991)
			margin-top: 10px
	&__list
		font-family: $default-font
		font-weight: 700
		padding: 11px 0
		display: flex
		flex-wrap: wrap
		max-width: 30%
		+r(991)
			flex-direction: column
			align-items: center
			max-width: none
			width: 100%
			justify-content: center
			padding: 0
		&_left
			display: flex
			justify-content: flex-start
			+r(1199)
				.top-menu__item
					padding-left: 0
					border-left: 0
		&_right
			justify-content: flex-end

	&__item
		display: flex
		align-items: center
		+r(991)
			border-bottom: 1px solid
			width: 100%
			justify-content: center
			padding: 10px 0
		& + .top-menu__item
			padding: 0 20px 0 21px
			border-left: 1px solid $shuttle-gray
			+r(991)
				padding: 10px 0
				border-left: 0
		&:first-child
			padding-right: 20px
			+r(991)
				padding: 10px 0
		&:last-child
			padding-right: 0
	&__link
		display: block
		color: $white
		font-family: $default-font
		font-weight: 700
		font-size: 1em
		padding-left: 21px
		position: relative
		&::before
			content: ''
			position: absolute
			margin-left: -20px
			width: 15px
			height: 100%
			top: 50%
			transform: translateY(-50%)
		&_tel
			&::before
				background: url('../img/fa-mobile-phone.svg') left no-repeat
		&_email
			&::before
				background: url('../img/fa-email.svg') left no-repeat
		&_login
			padding-left: 18px
			&::before
				background: url('../img/fa-login.svg') left no-repeat

@import '_social-list/social-list'
@import '_language-list/language-list'
