<section class='first-screen'>
  <div class='container'>
    <div class='first-screen__content'>
      <h1 class='first-screen__title title title_main'>
        <span>
          Luxury crewed catamaran fllet
        </span>
      </h1>
      <p class='first-screen__description'>
        Yacht charter and yacht investments in Spain. Luxury crewed and bareboat catamarans. Charter in Spain. Lagoon catamarans. Bali catamarans. Monofleet More 55 ft.
      </p>
      <a href='#' class='first-screen__button button'>
        details
      </a>
      <form class='search'>
        <div class='search__yacht-name yacht-name'>
          <a href='#' class='yacht-name__button'>
            yacht name
          </a>
          <ul class='yacht-name__drop-list'>
            <li class='yacht-name__item'>acronis</li>
            <li class='yacht-name__item'>ae cap d’antibes</li>
            <li class='yacht-name__item'>afterglow</li>
            <li class='yacht-name__item'>alessandra</li>
            <li class='yacht-name__item'>alucia</li>
            <li class='yacht-name__item'>amadeus</li>
            <li class='yacht-name__item'>andrea cay</li>
            <li class='yacht-name__item'>andros</li>
            <li class='yacht-name__item'>antara</li>
            <li class='yacht-name__item'>aphrodite a</li>
            <li class='yacht-name__item'>areti</li>
            <li class='yacht-name__item'>artpolars</li>
            <li class='yacht-name__item'>asia</li>
          </ul>
        </div>
        <div class='search__price-range'>
          <div class='search__price-label'>
            <div class='search__currency'>
              <span>
                price
              </span>
              <a href='#' class='search__currency_type'>
                £
              </a>
              /
              <a href='#' class='search__currency_type search__currency_active'>
                $
              </a>
              /
              <a href='#' class='search__currency_type'>
                €
              </a>
            </div>
            <div class='search__val_wrapper'>
              <span id="slider-snap-value-lower"></span>
              -
              <span id="slider-snap-value-upper"></span>
            </div>
          </div>
          <div id='slider-snap'></div>
        </div>
        <button class='search__button'>
          search
        </button>
        <a href='#' class='search__details'>
          detailed search
        </a>
      </form>
      <div class='mobile-search'>
        <div class='mobile-search__buttons'>
          <a href='#' class='mobile-search__button mobile-search__button_search'>
            Yacht search
          </a>
          <a href='#' class='mobile-search__button mobile-search__button_yacht-name'>
            Yacht name
          </a>
        </div>
        <div class='mobile-search__yacht-name'>
            <div class='mobile-search__yacht-name_close'></div>
            <h3 class='yacht-name__title'>
              yacht name
            </h3>
            <ul class='yacht-name__list'>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  acronis
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  ae cap d’antibes
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  afterglow
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  alessandra
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  alucia
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  amadeus
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  andrea cay
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  andros
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  antara
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  aphrodite a
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  areti
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  artpolars
                </a>
              </li>
              <li class='yacht-name__mobile-item'>
                <a href='#'>
                  asia
                </a>
              </li>
            </ul>
        </div>
        <form class='mobile-search__form yacht-form'>
          <div class='mobile-search__yacht-name_close'></div>
          <h3  class='yacht-form__title'>
            yacht search
          </h3>
          <div class='yacht-form__select'>
            <select name='yacht name'>
              <option>yacht name</option>
              <option value='acronis' >acronis</option>
              <option value='ae' >ae cap d’antibes</option>
              <option value='afterglow' >afterglow</option>
              <option value='alessandra' >alessandra</option>
              <option value='alucia' >alucia</option>
              <option value='amadeus' >amadeus</option>
              <option value='andrea' >andrea cay</option>
              <option value='andros' >andros</option>
              <option value='antara' >antara</option>
              <option value='aphrodite' >aphrodite a</option>
              <option value='areti' >areti</option>
              <option value='artpolars' >artpolars</option>
              <option value='asia' >asia</option>
            </select>
          </div>
          <div class='yacht-form__select'>
            <select name='currency'>
              <option value='euro'>
                euro (€)
              </option>
              <option value='dollar'>
                dollar ($)
              </option>
              <option value='pound'>
                pound (£)
              </option>
            </select>
          </div>
          <div class='yacht-form__select'>
            <select name='type'>
              <option value='any'>
                TYPE (ANY)
              </option>
            </select>
          </div>
          <div class='yacht-form__select'>
            <select name='light'>
              <option value='any'>
                light (any)
              </option>
            </select>
          </div>
          <div class='yacht-form__select'>
            <select name='price'>
              <option value='any'>
                price (any)
              </option>
              <option value='0m-10m'>
                0 М - 10 М
              </option>
              <option value='10m-100m'>
                10 М - 100 М
              </option>
              <option value='100m-200m'>
                100 М - 200 М
              </option>
            </select>
          </div>
          <div class='yacht-form__select'>
            <select name='builder'>
              <option value='any'>
                builder (any)
              </option>
            </select>
          </div>
          <button class='yacht-form__button'>
            <span>search</span>
          </button>
        </form>
      </div>
      <div class='scroll-down'>
        <span>Scroll Down</span>
      </div>
    </div>
  </div>
</section>
