<header class='header'>
  <div class='header__burger-menu'>
    <div class='top-menu__wrapper'>
      <div class='container'>
        <div class='top-menu'>
          <ul class='top-menu__list top-menu__list_left'>
            <li class='top-menu__item'>
              <a href='tel:+30635422340' class='top-menu__link top-menu__link_tel'>
                +3 (063) 542-23-40
              </a>
            </li>
            <li class='top-menu__item'>
              <a href='mailto:yachtmarine@gmail.com' class='top-menu__link top-menu__link_email'>
                yachtmarine@gmail.com
              </a>
            </li>
          </ul>
          <div class='top-menu__list top-menu__list_right'>
            <div class='top-menu__item'>
              <ul class='social-list'>
                <li class='social-list__item'>
                  <a href='#' class='social-list__link'>
                    <img src='img/fa-facebook.svg' alt=''>
                  </a>
                </li>
                <li class='social-list__item'>
                  <a href='#' class='social-list__link'>
                    <img src='img/fa-twitter.svg' alt=''>
                  </a>
                </li>
                <li class='social-list__item'>
                  <a href='#' class='social-list__link'>
                    <img src='img/fa-youtube.svg' alt=''>
                  </a>
                </li>

              </ul>
            </div>
            <div class='top-menu__item'>
              <a href='#' class='top-menu__link top-menu__link_login'>
                Login
              </a>
            </div>
            <div class='top-menu__item language-list'>
              <a href='#' class='language-list__button'>
                EN
              </a>
              <ul class='language-list__drop-list'>
                <li class='language-list__item language-list__item_active'>EN</li>
                <li class='language-list__item'>DE</li>
                <li class='language-list__item'>FR</li>
                <li class='language-list__item'>IT</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='menu__wrapper'>
      <div class='container'>
        <nav class='menu'>
          <ul class='menu__list'>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                home
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                our fleet
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                drivers
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                locations
              </a>
            </li>
          </ul>
          <ul class='menu__list'>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                about
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                testimonals
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                news
              </a>
            </li>
            <li class='menu__item'>
              <a href='#' class='menu__link'>
                contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class='header__button'>
      <div class='header__burger-bar'>
      </div>
  </div>
  <div class='logo'>
    <a href='#'>
      <img src='img/logo.png' alt=''>
    </a>
  </div>
</header>
