.first-screen
	position: relative
	background: url('../img/first-screen-bg.jpg') center no-repeat
	background-size: cover
	&::before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		background: $pickled-bluewood-op-70per
	&__content
		position: relative
		padding: 269px 0 20px
		color: $white
		text-align: center
		+r(575)
			padding: 239px 0 0
	&__title
		margin-bottom: 30px
	&__description
		font-family: $help-font
		font-style: italic
		font-weight: 400
		font-size: 1.667em
		color: $french-gray
		line-height: 2em
		width: 100%
		max-width: 700px
		margin: 0 auto 39px
		+r(991)
			font-size: 16px
			max-width: 495px
		+r(575)
			font-size: 15px
	&__button
		margin-bottom: 120px
		+r(991)
			margin-bottom: 110px
		+r(575)
			margin-bottom: 60px
.title
	font-family: $default-font
	font-weight: 700
	font-size: 4.167em
	line-height: 1.2em
	text-transform: uppercase
	position: relative
	+r(991)
		font-size: 35px
	+r(575)
		font-size: 25px
	&::before, &::after
		content: ''
		position: absolute
		bottom: 4px
		width: 100%
		max-width: 30%
		height: 4px
		background: url('../img/zigzag.svg') repeat-x
	&::before
		left: 16%
	&::after
		right: 16%
	span
		display: block
		padding-bottom: 40px
		position: relative
		&::before
			content: ''
			position: absolute
			left: calc(50% - 6px)
			bottom: 0
			width: 12px
			height: 13px
			background: url('../img/fa-anchor.png') no-repeat center

.button
	font-family: $default-font
	font-weight: 900
	font-size: 1.083em
	color: $white
	text-transform: uppercase
	letter-spacing: .2em
	display: inline-block
	line-height: 1em
	padding: 16px 90px
	background: $twine

.search
	text-align: left
	display: flex
	justify-content: space-between
	align-items: center
	max-width: 1000px
	margin: 0 auto
	padding: 30px 40px
	background: $pickled-bluewood-op-70per
	margin-bottom: 180px
	+r(991)
		display: none
	&__button
		font-family: $default-font
		color: $french-gray
		cursor: pointer
		position: relative
		background: transparent
		font-size: 13px
		text-transform: uppercase
		display: block
		padding: 12px 55px 12px 31px
		border: 1px solid $white-op-10per
		&::after
			content: ''
			width: 12px
			height: 12px
			position: absolute
			right: 31px
			top: calc( 50% - 6px)
			background: url('../img/search.png') center no-repeat
	&__details
		font-family: $default-font
		color: $french-gray
		cursor: pointer
		position: relative
		background: transparent
		font-size: 13px
		text-transform: uppercase
		display: block
		padding: 12px 20px 12px 0
		&::after
			content: ''
			width: 12px
			height: 6px
			position: absolute
			top: calc( 50% - 3px)
			right: 0
			background: url('../img/arrov-bottom.png') center no-repeat
	&__price-range
		max-width: 340px
		width: 100%
		position: relative
		padding: 0 15px
		+r(1199)
			max-width: 260px
	&__price-label
		display: flex
		justify-content: space-between
		margin-bottom: 15px
		font-size: 13px
		text-transform: uppercase
		color: $french-gray
	&__currency
		&_type
			color: $white
		&_active
			color: $twine
.noUi-horizontal
	height: 1px
	& .noUi-handle
		width: 28px
		height: 11px
		border-radius: 0
		background: $french-gray
		border-color: $french-gray
		cursor: pointer
		box-shadow: none
		&::before, &::after
			height: 5px
			top: 3px
			background: $white
		&::after
			left: 15px
		&::before
			left: 10px
.noUi-target
	border-color: $twine
.yacht-name
	position: relative
	min-width: 243px
	&__button
		color: $french-gray
		cursor: pointer
		position: relative
		font-size: 13px
		text-transform: uppercase
		display: block
		padding: 12px 25px 12px 11px
		border: 1px solid $white-op-10per
		&::before
			content: ''
			position: absolute
			top: calc( 50% - 4px )
			border: 4px solid transparent
			border-top: 6px solid $twine
			right: 11px
	&__drop-list
		display: none
		position: absolute
		top: 100%
		background: $pickled-bluewood
		right: 0
		left: 0
		text-align: center
		z-index: 1
		+r(991)
			display: flex
			position: relative
			right: 0
			background: transparent
	&__item
		padding: 5px 25px 5px 11px
		cursor: pointer
		transition: all .2s ease
		border-collapse: collapse
		text-align: left
		text-transform: uppercase
		&:hover
			background: $mirage-op-40
.mobile-search
	display: none
	+r(991)
		display: block
		max-width: 640px
		margin: 0 auto 130px
		padding: 30px 20px
		background: $pickled-bluewood-op-70per
		position: relative

		&::before
			content: ''
			width: 1px
			height: 18px
			background: $white-op-10per
			position: absolute
			top: calc( 50% - 9px)
			left: calc( 50% - .5px)
	+r(575)
		margin: 0 auto 40px
	&__buttons
		display: flex
		align-items: center
		justify-content: space-between
	&__button
		display: block
		width: 46.5%
		padding: 14px 10px
		font-size: 13px
		font-family: $default-font
		color: $french-gray
		cursor: pointer
		text-transform: uppercase
		background: $manhattan-op-10per
		text-align: center
		+r(575)
			padding: 7px
	&__yacht-name
		position: fixed
		background: $pickled-bluewood
		transform: translateY(-100%)
		top: 0
		left: 0
		right: 0
		z-index: 1050
		width: 100%
		text-align: left
		text-transform: uppercase
		padding: 15px 10vw 30px
		transition: all .3s ease
		&_active
			transform: translateY(0)
		&_close
			display: block
			position: relative
			margin-bottom: 30px
			width: 100%
			height: 15px
			z-index: 1090
			&::before, &::after
				content: ''
				position: absolute
				left: 50%
				top: 50%
				width: 15px
				height: 1px
				background: $white
			&::before
				transform: translate(-50%, -50% ) rotate(45deg)
			&::after
				transform: translate(-50%, -50% ) rotate(-45deg)
		.yacht-name
			&__title
				color: $twine
				margin-bottom: 30px
			&__mobile-item
				a
					color: $french-gray
					display: block
					padding: 5px 0
	&__form
		position: fixed
		background: $pickled-bluewood
		transform: translateY(-100%)
		top: 0
		left: 0
		right: 0
		z-index: 1050
		width: 100%
		text-align: left
		text-transform: uppercase
		padding: 15px 10vw 30px
		transition: all .3s ease
		overflow: auto
		&_active
			transform: translateY(0)
		&_close
			display: block
			position: relative
			margin-bottom: 30px
			width: 100%
			height: 15px
			z-index: 1090
			&::before, &::after
				content: ''
				position: absolute
				left: 50%
				top: 50%
				width: 15px
				height: 1px
				background: $white
			&::before
				transform: translate(-50%, -50% ) rotate(45deg)
			&::after
				transform: translate(-50%, -50% ) rotate(-45deg)
		.yacht-form
			position: relative
			&__title
				color: $twine
				margin-bottom: 30px
			&__select
				position: relative
				&::before
					content: ''
					position: absolute
					top: calc( 50% - 4px )
					border: 4px solid transparent
					border-top: 6px solid $twine
					right: 11px
			&__button
				display: block
				width: 100%
				padding: 10px
				font-size: 13px
				font-family: $default-font
				color: $french-gray
				cursor: pointer
				text-transform: uppercase
				background: $manhattan-op-10per
				text-align: center
				span
					position: relative
					padding-right: 20px
					&::before
						content: ''
						position: absolute
						top: calc( 50% - 6px)
						right: 0
						width: 12px
						height: 12px
						background: url('../img/search-white.png') center no-repeat
		select
			width: 100%
			display: block
			position: relative
			padding: 9px 25px 9px 10px
			-moz-appearance: none
			-webkit-appearance: none
			appearance: none
			text-transform: uppercase
			font-family: $default-font
			background: transparent
			color: $french-gray
			margin-bottom: 20px
			border: 1px solid $white-op-10per
			position: relative
			option
				width: 100%
				background: $pickled-bluewood
				&:hover
					background: red
.scroll-down
	font-family: $help-font
	font-weight: 400
	font-style: italic
	font-size: 13px
	color: $white
	display: block
	padding: 20px 0
	&:hover
		animation: scroll-down 1s linear infinite
	@keyframes scroll-down
		0%
			transform: translateY(0)
		25%
			transform: translateY(2px)
		50%
			transform: translateY(0)
		75%
			transform: translateY(-2px)
		100%
			transform: translateY(0)
	span
		position: relative
		padding-right: 16px
		&::after
			content: ''
			position: absolute
			right: 0
			top: calc( 50% - 6px )
			width: 5px
			height: 12px
			background: url('../img/fa-long-arrow-up.png') no-repeat center
