.language-list
	color: $white
	font-weight: 700
	position: relative
	&__button
		color: $white
		padding-left: 21px
		cursor: pointer
		position: relative
		+r(991)
			display: none
		&::before
			content: ''
			position: absolute
			margin-left: -20px
			width: 15px
			height: 100%
			top: 50%
			transform: translateY(-50%)
			background: url('../img/fa-language.svg') left no-repeat
	&__drop-list
		display: none
		position: absolute
		top: 120%
		background: $shuttle-gray
		right: -30px
		text-align: center
		z-index: 1
		+r(991)
			display: flex
			position: relative
			right: 0
			background: transparent
	&__item
		padding: 5px 30px
		cursor: pointer
		transition: all .2s ease
		border-collapse: collapse
		&:hover
			background: $mirage-op-40
			+r(991)
				background: transparent
		+r(991)
			color: $french-gray
			border: 0
			padding: 0 5px
			&_active
				color: $white
