.menu
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin: 0 -20px
	+r(991)
		margin: 0
		flex-direction: column
		align-items: center
		padding: 7px 0
	&__wrapper
		background: $mirage-op-34
		position: relative
		+r(991)
			background: $pickled-bluewood
	&__list
		display: flex
		flex-wrap: wrap
		+r(991)
			flex-direction: column
			align-items: center
	&__link
		display: block
		font-family: $default-font
		font-weight: 900
		font-size: 1em
		text-transform: uppercase
		color: $white
		line-height: 1em
		padding: 29px 20px
		transition: all .3s ease
		+r(991)
			padding: 13px 0

		&:hover
			background: $mirage-op-40
