.icon-fa-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fa-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fa-youtube {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
