.header
	position: fixed
	width: 100%
	top: 0
	left: 0
	right: 0
	z-index: 1000
	&__burger-menu
		+r(991)
			left: 0
			right: 0
			top: 39px
			height: auto // NEED FIX SCROLL IN MOBILE V
			position: absolute
			transform: translateY(-100%)
			z-index: 1010
			transition: all .3s ease
			background: $pickled-bluewood
			overflow: auto // NEED FIX SCROLL IN MOBILE V
			&_active
				transform: translateY(0)

	&__button
		display: none
		background: $pickled-bluewood
		width: 100%
		height: 40px
		position: relative
		z-index: 1020
		+r(991)
			display: block
		&_active
	&__burger-bar
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 25px
		height: 2px
		background: $white
		transition: background-color .6s ease
		&::before, &:after
			content: ''
			position: absolute
			width: 25px
			height: 2px
			background: $white
		&::before
			left: 0
			top: 0
			transform: translateY(-5px)
			animation: x-mark-before-reverse .6s forwards ease
		&::after
			right: 0
			top: 0
			transform: translateY(5px)
			animation: x-mark-after-reverse .6s forwards ease
		&_active
			background-color: transparent
			&:before
				animation: x-mark-before .6s forwards ease
			&:after
				animation: x-mark-after .6s forwards ease
		@keyframes x-mark-before
			0%
				transform: translateY(-5px)
			50%
				transform: translateY(0)
			100%
				transform: rotate(-45deg)
				width: 15px
		@keyframes x-mark-before-reverse
			0%
				transform: rotate(-45deg)
				width: 15px
			50%
				transform: translateY(0)
			100%
				transform: translateY(-5px)
		@keyframes x-mark-after
			0%
				transform: translateY(5px)
			50%
				transform: translateY(0)
			100%
				transform: rotate(45deg)
				width: 15px
		@keyframes x-mark-after-reverse
			0%
				transform: rotate(45deg)
				width: 15px
			50%
				transform: translateY(0)
			100%
				transform: translateY(5px)

@import '_top-menu/top-menu'
@import '_menu/menu'

.logo
	position: absolute
	left: 50%
	top: 0
	transform: translateX(-50%)
	background: url('../img/logo-poligon.svg') center top no-repeat
	width: 100%
	max-width: 349px
	height: 131px
	+r(991)
		position: relative
		max-width: 300px
		height: 115px
		top: -1px
		left: 0
		margin: 0 auto
		transform: translateX(0)
	img
		display: block
		z-index: 1
		position: relative
		left: 50%
		transform: translateX(-50%)
		top: 25px
		width: 170px
		height: auto
		+r(991)
			width: 138px
			left: 0
			margin: 0 auto
			transform: translateX(0)
